* {
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xEIzIFKw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xLIzIFKw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic3CsTKlA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic-CsTKlA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic2CsTKlA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic5CsTKlA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic1CsTKlA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic0CsTKlA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#wrapper.pt_storefront, 
#wrapper.pt_order-confirmation,
#wrapper.pt_product-search-result,
#wrapper.pt_product-details,
#wrapper.pt_cart,
#wrapper.pt_product-search-noresult,
#wrapper.pt_error {
    width: 100%;
}
.header-flag-fix {
    background-color: #f2f2f2;
    width: 100%;
    height: 35px;
}
#wrapper .wrapper-container {
    margin: auto;
    max-width: 1280px;
}
.primary-logo a img {
    width: 48px;
}
img {
    max-width: 100%;
}
nav[role=navigation] {
    color: #fff;
    right: -100%;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: #f2f2f2;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.primary-logo {
    margin: 0;
    z-index: 1;
}
.primary-logo a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#mini-cart {
    position: absolute;
    right: 55px;
    top: 7px;
    z-index: 20;
}
.header-search input[type=text].error-border {
    border-color: #e03334;
}
.header-search input[type=text].active {
    border-color: #c2c2c2;
}
input[type=date] textarea, input[type=number], input[type=password], input[type=text] {
    border: 1px solid #aaa;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 2rem;
    padding: .7em .5em;
    text-indent: 0;
    width: 100%;
}
.header-search {
    color: #000;
    background-color: #fff;
    margin: 16px 14px 10px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
}
.header-search input[type=text] {
    background-color: transparent;
    border: 0;
    margin: 0;
    width: 85%;
    width: calc(100% - 2.5rem);
    vertical-align: middle;
}
.header-search button {
    background-color: transparent;
    border: none;
    padding: .7em .5em;
    vertical-align: middle;
}
.header-search button i {
    font-size: 1.4em;
    color: #000;
}
.menu-category {
    text-transform: uppercase;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-category .menu-main-item {
    border-bottom: 1px solid #dadbda;
    background-color: transparent;
    list-style: none;
}
.menu-category .menu-main-item {
    border-bottom: 1px solid #dadbda;
    background-color: transparent;
    list-style: none;
}
.menu-category li .triangular-up-arrow {
    display: none;
}
.menu-category a {
	color: #000;
	font-weight: 500;
}
#main {
    margin: auto;
    max-width: 1280px;
}
footer {
    background-color: #f2f2f2;
    padding: 35px 20px;
    margin: 20px 0 0;
    color: #000;
    clear: both;
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
}
.footer-container a {
    color: #000;
}
.pt_product-search-noresult .primary-content, .pt_product-search-result .primary-content {
    margin: 40px 0 0;
}
#secondary {
	padding: 40px 10px;
    border: 0;
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#secondary .refinement-header {
    background-color: transparent;
    border-width: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
}
.refinement-header {
    background-color: #efefef;
    border-top: 1px solid #e0e0e0;
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: .125em;
    margin: 0;
    padding: 1.15em .75em .75em;
    text-transform: uppercase;
}
#secondary .refinement ul a {
    margin: 0;
    padding: 0;
}
#secondary .refinement ul a.active {
   color: #000;
}
#category-level-1 li .refinement-link {
    background: none repeat scroll 0 0 transparent;
    padding: 0 0 0 1em;
}
#secondary .refinement ul#category-level-1 {
    margin: 26px 0 30px;
    padding: 0;
}
#secondary .refinement ul li {
    padding: 0;
    margin: 0 0 18px;
    font-size: .75rem;
}
#category-level-1 li {
    display: block;
    color: #a7a5a5;
}
#secondary .refinement ul[id^=category-level-] li.expandable>a.active, #secondary .refinement ul[id^=category-level-] li.expanded>a.active {
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
    color: #000;
}
#secondary .refinement ul[id^=category-level-] li.expandable>a, #secondary .refinement ul[id^=category-level-] li.expanded>a {
    position: relative;
    padding: 0 0 0 .2em;
    color: #a7a5a5;
}
#secondary .refinement ul a {
     position: relative;
    padding: 0 0 0 .2em;
    color: #a7a5a5;
}
#category-level-1 li.expandable .active {
    font-weight: 700;
    padding: 0 0 0 .2em;
}
#category-level-1 li.expandable .refinement-link {
  color: #a7a5a5;
}
#category-level-1 li.expandable .refinement-link.active {
	color: #000;
}
#secondary .refinement ul[id^=category-level-] li.expandable>a [class*=" icon-"], #secondary .refinement ul[id^=category-level-] li.expandable>a [class^=icon-], #secondary .refinement ul[id^=category-level-] li.expanded>a [class*=" icon-"], #secondary .refinement ul[id^=category-level-] li.expanded>a [class^=icon-] {
    position: absolute;
    left: 0;
    top: 0;
    color: #a7a7a7;
}
.icons, .slick-arrow, [class*=" icon-"], [class^=icon-] {
    font-family: sportificons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-minus:before {
    content: "\e906";
}
.icon-plus:before {
    content: "\e908";
}
#secondary a {
    color: #000;
}
#category-level-1 li .refinement-link {
	text-transform: uppercase;
}
#secondary .refinement ul li {
    padding: 0;
    margin: 0 0 18px;
    font-size: .75rem;
    color: #a7a5a5;
}
#secondary .refinement ul[id^=category-level-] {
    margin: 1rem 0 0;
    padding: 0 0 0 1.25rem;
}
.breadcrumb-element:after {
	color: #727272;
    content: "_";
    margin: 0;
}
.breadcrumb {
    font-size: 12px;
    padding: 30px 0 60px;
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
}
.breadcrumb {
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    padding: .5em 1%;
}
a.breadcrumb-element {
    color: #000;
    outline: medium none;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
}
.breadcrumb-element:last-child {
    font-weight: 400;
    color: #e03334;
}
.slot-grid-header h2 {
    font-size: .875rem;
    line-height: 30px;
    margin: 10px;
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
}
.refinement h3 {
    background-color: #efefef;
    border-top: 1px solid #e0e0e0;
    font-size: 1.1em;
    letter-spacing: .125em;
    margin: 0 0 .65em;
    padding: 1.15em .75em .75em;
    text-transform: uppercase;
}
#secondary .refinement h3 {
	cursor: pointer;
    background-color: transparent;
    border-width: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    display: inline-block;
    padding-left: 20px;
    position: relative;
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
}
#secondary .refinement i {
    position: absolute;
    left: 0;
    top: 5%;
    color: #a7a7a7;
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
}
#secondary .refinement i.fa-angle-right {
	left: 5px;
}
#secondary .refinement ul.swatches.refinementColor li {
	margin: 0 6px 0 0;
    padding: 0;
}
#secondary .refinement ul li a {
    padding: 0;
}
#secondary .refinement ul.swatches.refinementColor a[id^=swatch-] {
    width: 30px;
    height: 30px;
    border: 1px solid #cecece;
    margin: 0 0 10px;
    border-radius: 0;
}
#secondary .refinement ul.swatches.refinementColor {
	overflow: hidden;
    margin-right: -6px;
}
#secondary .refinement:last-child ul {
    margin-bottom: 0;
}
#secondary .refinement ul.swatches.refinementColor li.selected a {
    border: 2px solid #e03334;
}
.refinement .clear-refinement {
    font-weight: 700;
    padding: 0 1.05em .4em;
}
#secondary .refinement.refinementColor .clear-refinement {
    width: 100%;
    height: 30px;
    border: 1px solid #cecece;
    margin: 25px 0 10px;
    border-radius: 0;
    text-transform: uppercase;
    float: none;
    text-align: center;
    padding: 0;
}
#secondary .refinement.refinementColor .clear-refinement a {
    border-width: 0;
    line-height: 27px;
    text-align: center;
    display: block;
}
#secondary .refinement ul {
    padding: 0;
    margin: 21px 0 25px;
}
#secondary .refinement a {
    color: #000;
}
.search-result-options .sort-by-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    float: none;
    width: 100%;
    cursor: pointer;
}
.search-result-options .sort-by-list .sort-by-item {
    width: 100%;
    border: 1px solid #cecece;
    margin-right: 3px;
    text-align: center;
    line-height: 28px;
    font-size: .875rem;
    padding: 5px;
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
}
.search-result-options .sort-by-list .sort-by-item a {
    display: block;
}
.search-result-options .sort-by-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    float: none;
    width: 100%;
    cursor: pointer;
}
a, body {
    color: #000;
}
.search-result-options {
    padding: 10px;
    overflow: inherit;
}
.search-result-options .total-case-count {
    font-size: 12px;
    color: #666;
    float: left;
    margin: 0 0 10px;
}
.search-result-options .items-per-page {
    float: left;
    margin-right: .5em;
}
.search-result-options .items-per-page {
    float: right;
    color: #666;
    padding: 0;
    margin: 0;
    position: relative;
    width: 30%;
}
.search-result-options .items-per-page .selectbox-custom {
    position: relative;
    height: 18px;
}
.search-result-options .items-per-page .selectbox-custom.active .selectbox-list {
    display: block;
}
.search-result-options .items-per-page .selectbox-custom .selectbox-list {
    position: absolute;
    right: 0;
    top: 100%;
    width: auto;
    background: #fff;
    z-index: 2;
    border: 1px solid #cecece;
    display: none;
}
.search-result-options .items-per-page .selectbox-custom .selectbox-list li {
    border-bottom: 1px solid #cecece;
    line-height: 15px;
    padding: 5px 10px;
    list-style: none;
    cursor: pointer;
    text-align: center;
}
.search-result-options .items-per-page .selectbox-custom .selectbox-list li.selected {
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
}
.search-result-options .items-per-page .selectbox-custom .selectbox-list li:last-child {
    border-bottom-width: 0;
}
.search-result-options .items-per-page .selectbox-custom .selectbox-text {
    padding: 0 5px 0 15px;
    float: right;
    width: auto;
    position: relative;
    cursor: pointer;
}
.search-result-options .items-per-page .selectbox-custom .selectbox-text:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #666;
    border-width: 5px;
    margin-top: -5px;
    border-top-width: 9px;
    left: 0;
    top: 50%;
}
.search-result-content {
    display: inline-block;
    width: 100%;
}
.search-result-content {
    clear: both;
}
.search-result-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.search-result-items {
    margin: 0;
    padding: 0;
}
.search-result-items li {
    list-style: none outside none;
}
.search-result-items li.grid-tile {
    width: calc(31.33% - 10px);
    margin: 10px 0 0 10px;
    background: #eaeaea;
    padding: 30px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search-result-items .grid-tile {
    background: none repeat scroll 0 0 #fff;
    -webkit-box-shadow: 0 0 9px #ccc;
    box-shadow: 0 0 9px #ccc;
    float: left;
    list-style: none outside none;
    margin: 0 0 2% 20px;
    padding: 2%;
    width: 26%;
}
.search-result-items .new-row {
    clear: both;
}
.product-tile .product-swatches li a.swatch {
    border: 1px solid #bcbcbc;
    width: 18px;
    height: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.product-tile .product-swatches li {
    margin-right: 2px;
}
.grid-tile .product-tile .product-swatches {
    float: left;
}
.product-tile .product-swatches li a.swatch {
    border: 1px solid #bcbcbc;
    width: 18px;
    height: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.product-tile .product-swatches li a.swatch.selected {
    border: 1px solid #e03334;
}
.swatch-yellow_m a {
    background-color: #ffff00 !important;
}
.swatch-pink_m a {
    background-color: #fe249a !important;
}
.swatch-silver_grey {
	background-color: #8f979d !important;
}
.product-tile {
    text-align: left;
    color: #000;
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
}
.product-tile .product-image {
    padding-bottom: 40px;
    border-bottom: 1px solid #bcbcbc;
    text-align: center;
    min-height: 120px;
    position: relative;
}
.product-tile .product-image .product-badges {
    color: #666;
    position: absolute;
    left: 0;
    bottom: 10px;
    /* margin: 5px 0 10px; */
    width: 100%;
    text-align: left;
}
.product-tile .product-image .product-badges span:last-child {
    margin-right: 0;
}
.product-tile .product-image .product-badges span {
    border: 1px solid #c2c2c2;
    padding: 4px;
    margin-right: 2px;
    display: inline-block;
    text-align: center;
}
.product-tile .product-name {
    font-size: .875rem;
    line-height: 18px;
    margin: 17px 0 0;
    height: auto;
    overflow: visible;
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
}
.product-tile .product-id {
    line-height: 20px;
    margin-top: 2px;
}
.product-tile .product-pricing {
    font-size: 12px;
    margin: 0;
    line-height: 20px;
}
.product-tile .product-image .quickview {
    border: 1px solid #cecece;
    background: #fff;
    color: #000;
}
.product-tile .product-image .quickview i {
    margin-left: .5em;
}
.breadcrumb {
    font-size: 12px;
    padding: 30px 0 60px;
    font-family: Roboto, YuGothicM, YuGothic, sans-serif;
}
.pt_content #main, .pt_product-details #main {
    padding: 0 20px;
}
.pdp-main .product-primary-image {
    background-color: #eaeaea;
    max-width: 100%;
    text-align: center;
}
.pdp-main .product-detail, .pdp-main .product-details, .pdp-main .product-image-container {
    background-color: #f2f2f2;
}
@media screen and (min-width: 48rem) {
	.search-result-options .sort-by {
	    float: left;
	    margin-right: .5em;
	    padding-bottom: 0;
	}
	.search-result-options .sort-by {
	    float: left;
	    margin-right: .5em;
	    padding-bottom: 0;
	}
	h1 {
	    font-size: 1.75em;
	    margin: 0 0 14px;
	}
	.top-banner {
	    background: #fff;
	    border-bottom: 1px solid #c2c2c2;
	    width: 100%;
	}
	.top-banner .wrapper-container {
	    position: relative;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	}
	.primary-logo {
	    -ms-flex-preferred-size: 8%;
	    flex-basis: 8%;
	}
    nav[role="navigation"] {
	    position: static;
	    background-color: transparent;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;
	    -webkit-box-pack: end;
	    -ms-flex-pack: end;
	    justify-content: flex-end;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -ms-flex-preferred-size: 86%;
	    flex-basis: 86%;
	}
	.header-search {
	    border: 0;
	    margin: 0;
	    -ms-flex-preferred-size: 20%;
	    flex-basis: 20%;
	}
	.header-search input[type=text] {
	    float: left;
	    height: 1.75rem;
	    border: 1px solid transparent;
	}
	#mini-cart {
	    position: static;
	    -ms-flex-preferred-size: 6%;
	    flex-basis: 6%;
	    text-align: center;
	}
	.header-search button {
	    padding: .4em .5em;
	}
	.menu-category {
	    -ms-flex-preferred-size: 80%;
	    flex-basis: 80%;
	}
	.menu-category .menu-main-item {
	    border-bottom: 0;
	    margin: -14px 12px 0;
	}
	.menu-category li {
	    float: left;
	}
	.menu-category .menu-main-item {
	    border-bottom: 0;
	    margin: -14px 12px 0;
	}
	.menu-category li .triangular-up-arrow {
	    display: inline;
	    position: relative;
	    left: 42%;
	    top: 53px;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-bottom: 10px solid transparent;
	}
	.primary-content {
	    float: right;
	    position: relative;
	    width: 80%;
	    margin: 0;
	    border: none;
	}
	.primary-content {
	    float: right;
	    position: relative;
	    width: 80%;
	    margin: 0;
	    border: none;
	}
	.pt_product-search-noresult .primary-content, .pt_product-search-result .primary-content {
	    padding: 0;
	}
	.pt_product-search-noresult #secondary, .pt_product-search-result #secondary {
	    background-color: #eaeaea;
	}
	#secondary {
	    float: left;
	    width: 20%;
	    position: relative;
	}
	.pdp-main .product-image-container {
	    width: 58%;
	    margin-left: 2%;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 0;
	}
	.pdp-main .product-detail {
	    width: calc(40% - 4%);
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 0 2%;
	    padding: 20px;
	}
	.pdp-main .product-image-container .product-primary-image {
	    border-bottom: 12px solid #fff;
	}
}